.english,
.panel-left,
.panel-right {
  background: #fff
}

.english,
.russian {
  transition: left .3s background .3s, color .3s
}

.active a,
a {
  text-decoration: none
}

.english-nav,
.panel-container a,
a {
  border-bottom: 1px solid
}

.lang,
.nav {
  z-index: 999
}

.en,
.nav,
.ru {
  text-transform: uppercase
}

@font-face {
  font-family: Wremena-Light;
  src: url(Wremena_Light.woff) format("woff")
}

@font-face {
  font-family: IDEOLOGY;
  src: url(ideology.woff) format("woff")
}

body,
html {
  font-size: 2vw;
  font-size: 1.7vw;
  line-height: 1.3;
  font-family: Wremena-Light;
  font-feature-settings: "liga", "dlig";
  font-kerning: normal;
  overflow-x: hidden
}

@-ms-viewport {
  width: device-width
}

h1 {
  font-size: 4vw;
  padding-bottom: 1.3rem;
  text-align: center;
  font-family: IDEOLOGY, sans-serif;
  line-height: 1
}

.nav,
sup {
  font-family: IDEOLOGY
}

.date {
  text-stroke: 2px #000;
  text-fill-color: transparent;
  display: block;
  font-variant-numeric: oldstyle-nums
}

.nav-container,
.panel-container {
  display: flex;
  width: 160vw;
  height: 100%
}

.page-container {
  position: relative
}

.panel-container {
  left: 0;
  display: flex;
  flex-direction: row
}

.nav-container {
  display: flex;
  flex-direction: row;
  top: 0;
  position: fixed
}

.english-nav,
.nav {
  display: flex;
}

article.panel-container:first-of-type .panel {
  padding-top: 10vw
}

.panel {
  width: 74vw;
  padding: 1.5vw 3vw 10vw
}

footer .panel {
  padding: 1.5vw 3vw
}

.inner {
  padding: 1vw
}

.inner p:first-of-type {
  text-indent: 0
}

.inner p {
  text-indent: 2em
}

.quote {
  text-indent: -.4em!important
}

.text {
  line-height: 1.15
}

figure {
  padding: 10px 0;
  width: 100%
}

figure img {
  width: 100%;
  object-fit: contain;
  object-fit: cover;
  object-position: top
}

.english {
  color: #000
}

.russian {
  background: #000;
  color: #fff
}

.active,
.active a {
  transition: background .3s, color .3s;
  background: #fff;
  color: #000
}

.not-active,
.not-active a {
  transition: background .3s, color .3s;
  background: #000
}

.active img {
  filter: invert(0) grayscale(100%)
}

.not-active {
  color: #fff
}

.not-active a {
  color: #fff!important
}

.english-active,
.russian-active {
  transition: left .3s, background .3s, color .3s
}

.not-active img {
  filter: invert(100%) grayscale(100%)
}

.english-active {
  left: 0!important
}

.russian-active {
  left: -60vw!important
}

a,
a:hover {
  transition: border-color .3s
}

sup {
  font-variant-position: super;
  vertical-align: baseline;
  position: relative;
  top: -.3em;
  font-size: .7em;
  border-bottom: .1em solid;
  margin: 0 .3em
}

.nav {
  height: auto;
  width: 160vw;
  display: flex;
  align-items: center;
  align-content: space-between;
  justify-content: space-between;
  padding: 0
}

.english-nav,
.russian-nav {
  width: 100vw;
  padding: 1vw 4vw;
  align-content: space-between;
  height: 100%
}

a {
  color: #000;
  border-color: transparent
}

a:hover {
  border-color: #000
}

.english-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 0
}

.russian-nav {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid;
  border-bottom: 0
}

.english-nav.active,
.english-nav.not-active,
.russian-nav.active,
.russian-nav.not-active {
  background: 0 0;
  padding-bottom: 5vw
}

.english-nav:after {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 80vw;
  height: 100%;
  background: linear-gradient(0deg, transparent 0, #000 50%);
  transition: opacity .3s, color .3s;
  opacity: 0
}

.english-nav:before,
.russian-nav:after {
  background: linear-gradient(0deg, rgba(255, 255, 255, 0) 0, #fff 50%);
  position: absolute;
  content: '';
  top: 0;
  width: 80vw;
  height: 100%;
  transition: opacity .3s, color .3s
}

.english-nav.not-active:after {
  opacity: 1;
  transition: opacity .3s, color .3s
}

.russian-nav:after {
  left: 80vw;
  opacity: 0
}

.russian-nav.active:after {
  opacity: 1;
  transition: opacity .3s, color .3s
}

.english-nav:before {
  left: 0;
  opacity: 0
}

.english-nav.active:before {
  opacity: 1;
  transition: opacity .3s, color .3s
}

.russian-nav:before {
  position: absolute;
  content: '';
  top: 0;
  left: 80vw;
  width: 80vw;
  height: 100%;
  background: linear-gradient(0deg, transparent 0, #000 50%);
  transition: opacity .3s, color .3s;
  opacity: 0
}

.bubble-wrap,
canvas {
  width: 80vw;
  height: 100vh
}

.russian-nav.not-active:before {
  opacity: 1;
  transition: opacity .3s, color .3s
}

.english-nav.active a,
.english-nav.not-active a,
.russian-nav.active a,
.russian-nav.not-active a {
  background: 0 0;
  z-index: 999
}

.lang {
  position: relative
}

.en {
  color: #fff
}

.hidden {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  transition: background .3s, color .3s
}

.en,
.ru {
  cursor: pointer;
  margin-left: 30vw;
  opacity: 1;
  transition: opacity .3s, background .3s, color .3s
}

img {
  position: relative;
  z-index: 9001!important
}

@keyframes fadeIn {
  0% {
    opacity: 0
  }
  100% {
    opacity: 1
  }
}

@keyframes fadeInOut {
  0%,
  100% {
    opacity: 0
  }
  50% {
    opacity: .8
  }
}

.bubble-wrap {
  transition: left .3s;
  overflow: hidden;
  position: fixed;
  left: 0;
  top: 0!important;
  right: 0;
  bottom: 0!important;
  pointer-events: none;
  margin: 0;
  padding: 0;
  filter: blur(20px);
  opacity: .6;
  animation: fadeInOut 10s infinite
}

.russian-blob {
  left: 20vw;
  transition: left .3s
}

@media only screen and (max-width:900px) {
  .date {
    text-stroke: .5px #000;
    text-fill-color: transparent;
    display: block
  }
  h1 {
    font-size: 7vw
  }
  .nav {
    font-size: 4vw;
    text-transform: uppercase
  }
  .en,
  .ru {
    margin-left: 0
  }
}
