@import "../../styles/common.styl"

$canonic-width = 1440
$offset = 60
$canonic-width-m = 375
$offset-m = 35

$offset-relative = $offset / $canonic-width * 100vw

$offset-relative-m = $offset-m / $canonic-width-m * 100vw

$article-width = ($canonic-width - $offset) / $canonic-width * 100vw * 2
$shift = -($canonic-width - $offset * 2) / $canonic-width * 100vw

$article-width-m = ($canonic-width-m - $offset-m) / $canonic-width-m * 100vw * 2
$shift-m = -($canonic-width-m - $offset-m * 2) / $canonic-width-m * 100vw

$shift-duration = 0.4s

// >> TAG STYLES

html
  font-size: ($ROOT_FONT_SIZE / $CANONICAL_SCREEN_WIDTH * 100) vw
  font-feature-settings: "liga", "dlig"
  font-kerning: normal
  +mobile()
    font-size: ($ROOT_FONT_SIZE / $CANONICAL_SCREEN_WIDTH_M * 100) vw

a
  text-decoration: none
  color: inherit

h1
  text-header()
  text-align: center
  br
    display: none
  +mobile()
    span
      text-transform: uppercase
    br
      display: inline

h2
  text-subheader()
  text-align: center
  text-stroke: 1px #000
  text-fill-color: transparent
  -webkit-text-stroke: 1px #000
  -webkit-text-fill-color: transparent
  margin-top: pxToRem(30)
  +mobile()
    margin-top: pxToRem(5)

h3
  text-section-header()
  text-align: center
  margin: pxToRem(85) auto pxToRem(21)
  max-width: pxToRem(1005)
  text-transform: uppercase
  +mobile()
    margin: pxToRem(60) auto pxToRem(12)

p
  margin: 0 auto
  max-width: pxToRem(1005)
  text-body()
  b
    font-weight: normal
    text-highlight()

p + p
  text-indent: pxToRem(50)

.article-info + p
  margin-top: pxToRem(30)
  text-indent: 0

blockquote
  text-subheader()
  +mobile()
    font-size: pxToRem(24)
    line-height: (28 / 24)

img
  width: 100%

.content
  overflow: hidden

// << TAG STYLES

// >> OVERLAY
.overlay
  position: fixed
  width: $offset-relative
  height: 100%
  top: 0
  cursor: pointer
  z-index: 100
  +mobile()
    width: $offset-relative-m
.russian .overlay
  left: 0
.english .overlay
  right: 0
// << OVERLAY

// >> FOOTER
.footer
  display: flex
  width: $article-width
  transition: transform $shift-duration ease-in-out
  +mobile()
    width: $article-width-m
  &-part
    flex: 1
    line-height: 0
    img
      width: 100%

.russian .footer
  transform: translateX($shift)
  +mobile()
    transform: translateX($shift-m)

// .english
//   .footer-part-english
//     filter: invert(0)
//   .footer-part-russian
//     filter: invert(100%)
//
// .russian
//   .footer-part-russian
//     filter: invert(0)
//   .footer-part-english
//     filter: invert(100%)
// << FOOTER

// >> HEADER
.header
  display: flex
  position: fixed
  top: 0
  left: 0
  width: $article-width
  transition: transform $shift-duration ease-in-out
  z-index: 50
  +mobile()
    width: $article-width-m
  &-part
    flex: 1
    display: flex
    justify-content: space-between
    align-items: flex-start
    height: pxToRem(100)
    padding: pxToRem(12) pxToRem(24)
    transition: background $shift-duration ease-in-out
    +mobile()
      height: pxToRem(50)
      padding: pxToRem(12)
    a::before
      display: inline-block
      content: "→"
      transform: rotate(-135deg) translate(pxToRem(-4), pxToRem(-4))
    .switch-lang-button
      cursor: pointer
      border: 0
      background-color: inherit

.russian .header
  transform: translateX($shift)
  +mobile()
    transform: translateX($shift-m)

// :not(.has-switched).english
.english
  .header-part-english
    background: linear-gradient(0deg, rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, 1) 50%);
  .header-part-russian
    background: linear-gradient(0deg, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 1) 50%);

// :not(.has-switched).russian
.russian
  .header-part-russian
    background: linear-gradient(0deg, rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, 1) 50%);
  .header-part-english
    background: linear-gradient(0deg, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 1) 50%);

/*
.has-switched.english
  .header-part-english
    animation: $shift-duration forwards reverse bgWhiteToBlack
  .header-part-russian
    animation: $shift-duration forwards normal bgWhiteToBlack

.has-switched.russian
  .header-part-english
    animation: $shift-duration forwards normal bgWhiteToBlack
  .header-part-russian
    animation: $shift-duration forwards reverse bgWhiteToBlack
*/

// << HEADER

// >> ARTICLE
.spacing-box
  height: pxToRem(35)

.cover-box .article-part
  padding-top: pxToRem(40)

.date
  text-align: center
  text-stroke: 1px #000;
  text-fill-color: transparent;
  -webkit-text-stroke: 1px #000;
  -webkit-text-fill-color: transparent;
  font-variant-numeric: oldstyle-nums;
  letter-spacing: pxToRem(pxToRem(-2));
  text-subheader();
  line-height: normal;

.article
  width: $article-width
  min-height: 300vh
  transition: transform $shift-duration ease-in-out
  +mobile()
    width: $article-width-m

  // >> PARTS
  &-part-box
    display: flex
  &-part
    flex: 1
    transition: background-color $shift-duration ease-in-out, color $shift-duration ease-in-out
    padding: 0 pxToRem(42)
    +mobile()
      padding: 0 pxToRem(12)
  .russian &-part-english
    background-color: black
    color: white
  .english &-part-russian
    background-color: black
    color: white
  &-info-box &-part
    padding-bottom: pxToRem(60)
  &-info
    margin-top: pxToRem(312)
    text-caption()
    line-height: (24 / 20)
    text-align: center
    +mobile()
      margin-top: pxToRem(150)
    a
      text-decoration: underline
  // << PARTS

.russian .article
  transform: translateX($shift)
  +mobile()
    transform: translateX($shift-m)

// << ARTICLE

// >> ILLUSTRATIONS

.illustration
  margin: pxToRem(60) auto
  +mobile()
    margin: pxToRem(50) auto

.text-caption
  +mobile()
    margin-left: 0 !important

.illustration-1
  max-width: pxToRem(759)

.illustration-2
  max-width: pxToRem(1112)
  .text-caption
    margin-left: pxToRem(176)

.illustration-3
  max-width: pxToRem(759)
  margin-bottom: pxToRem(30)

.illustration-4
  max-width: pxToRem(1005)
  margin: 0 auto pxToRem(60)
  .text-caption
    margin-left: pxToRem(122)

.illustration-5
  max-width: pxToRem(1067)
  margin-bottom: pxToRem(30)
  .text-caption
    margin-left: pxToRem(176)

.illustration-6
  max-width: pxToRem(726)
  margin: 0 auto pxToRem(60)

// << ILLUSTRATIONS

// >> QUOTES
.quote-1
  blockquote
    margin: pxToRem(60) 0 pxToRem(120)

.quote-2
  blockquote
    margin: pxToRem(60) 0 pxToRem(70)

.quote-3
.quote-4
  blockquote
    margin: pxToRem(60) 0
// << QUOTES


/*
@keyframes bgWhiteToBlack {
  0% { background: linear-gradient(0deg, transparent 0, rgb(255.00, 255.00, 255.00) 50%) }
  1% { background: linear-gradient(0deg, transparent 0, rgb(252.45, 252.45, 252.45) 50%) }
  2% { background: linear-gradient(0deg, transparent 0, rgb(249.90, 249.90, 249.90) 50%) }
  3% { background: linear-gradient(0deg, transparent 0, rgb(247.35, 247.35, 247.35) 50%) }
  4% { background: linear-gradient(0deg, transparent 0, rgb(244.80, 244.80, 244.80) 50%) }
  5% { background: linear-gradient(0deg, transparent 0, rgb(242.25, 242.25, 242.25) 50%) }
  6% { background: linear-gradient(0deg, transparent 0, rgb(239.70, 239.70, 239.70) 50%) }
  7% { background: linear-gradient(0deg, transparent 0, rgb(237.15, 237.15, 237.15) 50%) }
  8% { background: linear-gradient(0deg, transparent 0, rgb(234.60, 234.60, 234.60) 50%) }
  9% { background: linear-gradient(0deg, transparent 0, rgb(232.05, 232.05, 232.05) 50%) }
  10% { background: linear-gradient(0deg, transparent 0, rgb(229.50, 229.50, 229.50) 50%) }
  11% { background: linear-gradient(0deg, transparent 0, rgb(226.95, 226.95, 226.95) 50%) }
  12% { background: linear-gradient(0deg, transparent 0, rgb(224.40, 224.40, 224.40) 50%) }
  13% { background: linear-gradient(0deg, transparent 0, rgb(221.85, 221.85, 221.85) 50%) }
  14% { background: linear-gradient(0deg, transparent 0, rgb(219.30, 219.30, 219.30) 50%) }
  15% { background: linear-gradient(0deg, transparent 0, rgb(216.75, 216.75, 216.75) 50%) }
  16% { background: linear-gradient(0deg, transparent 0, rgb(214.20, 214.20, 214.20) 50%) }
  17% { background: linear-gradient(0deg, transparent 0, rgb(211.65, 211.65, 211.65) 50%) }
  18% { background: linear-gradient(0deg, transparent 0, rgb(209.10, 209.10, 209.10) 50%) }
  19% { background: linear-gradient(0deg, transparent 0, rgb(206.55, 206.55, 206.55) 50%) }
  20% { background: linear-gradient(0deg, transparent 0, rgb(204.00, 204.00, 204.00) 50%) }
  21% { background: linear-gradient(0deg, transparent 0, rgb(201.45, 201.45, 201.45) 50%) }
  22% { background: linear-gradient(0deg, transparent 0, rgb(198.90, 198.90, 198.90) 50%) }
  23% { background: linear-gradient(0deg, transparent 0, rgb(196.35, 196.35, 196.35) 50%) }
  24% { background: linear-gradient(0deg, transparent 0, rgb(193.80, 193.80, 193.80) 50%) }
  25% { background: linear-gradient(0deg, transparent 0, rgb(191.25, 191.25, 191.25) 50%) }
  26% { background: linear-gradient(0deg, transparent 0, rgb(188.70, 188.70, 188.70) 50%) }
  27% { background: linear-gradient(0deg, transparent 0, rgb(186.15, 186.15, 186.15) 50%) }
  28% { background: linear-gradient(0deg, transparent 0, rgb(183.60, 183.60, 183.60) 50%) }
  29% { background: linear-gradient(0deg, transparent 0, rgb(181.05, 181.05, 181.05) 50%) }
  30% { background: linear-gradient(0deg, transparent 0, rgb(178.50, 178.50, 178.50) 50%) }
  31% { background: linear-gradient(0deg, transparent 0, rgb(175.95, 175.95, 175.95) 50%) }
  32% { background: linear-gradient(0deg, transparent 0, rgb(173.40, 173.40, 173.40) 50%) }
  33% { background: linear-gradient(0deg, transparent 0, rgb(170.85, 170.85, 170.85) 50%) }
  34% { background: linear-gradient(0deg, transparent 0, rgb(168.30, 168.30, 168.30) 50%) }
  35% { background: linear-gradient(0deg, transparent 0, rgb(165.75, 165.75, 165.75) 50%) }
  36% { background: linear-gradient(0deg, transparent 0, rgb(163.20, 163.20, 163.20) 50%) }
  37% { background: linear-gradient(0deg, transparent 0, rgb(160.65, 160.65, 160.65) 50%) }
  38% { background: linear-gradient(0deg, transparent 0, rgb(158.10, 158.10, 158.10) 50%) }
  39% { background: linear-gradient(0deg, transparent 0, rgb(155.55, 155.55, 155.55) 50%) }
  40% { background: linear-gradient(0deg, transparent 0, rgb(153.00, 153.00, 153.00) 50%) }
  41% { background: linear-gradient(0deg, transparent 0, rgb(150.45, 150.45, 150.45) 50%) }
  42% { background: linear-gradient(0deg, transparent 0, rgb(147.90, 147.90, 147.90) 50%) }
  43% { background: linear-gradient(0deg, transparent 0, rgb(145.35, 145.35, 145.35) 50%) }
  44% { background: linear-gradient(0deg, transparent 0, rgb(142.80, 142.80, 142.80) 50%) }
  45% { background: linear-gradient(0deg, transparent 0, rgb(140.25, 140.25, 140.25) 50%) }
  46% { background: linear-gradient(0deg, transparent 0, rgb(137.70, 137.70, 137.70) 50%) }
  47% { background: linear-gradient(0deg, transparent 0, rgb(135.15, 135.15, 135.15) 50%) }
  48% { background: linear-gradient(0deg, transparent 0, rgb(132.60, 132.60, 132.60) 50%) }
  49% { background: linear-gradient(0deg, transparent 0, rgb(130.05, 130.05, 130.05) 50%) }
  50% { background: linear-gradient(0deg, transparent 0, rgb(127.50, 127.50, 127.50) 50%) }
  51% { background: linear-gradient(0deg, transparent 0, rgb(124.95, 124.95, 124.95) 50%) }
  52% { background: linear-gradient(0deg, transparent 0, rgb(122.40, 122.40, 122.40) 50%) }
  53% { background: linear-gradient(0deg, transparent 0, rgb(119.85, 119.85, 119.85) 50%) }
  54% { background: linear-gradient(0deg, transparent 0, rgb(117.30, 117.30, 117.30) 50%) }
  55% { background: linear-gradient(0deg, transparent 0, rgb(114.75, 114.75, 114.75) 50%) }
  56% { background: linear-gradient(0deg, transparent 0, rgb(112.20, 112.20, 112.20) 50%) }
  57% { background: linear-gradient(0deg, transparent 0, rgb(109.65, 109.65, 109.65) 50%) }
  58% { background: linear-gradient(0deg, transparent 0, rgb(107.10, 107.10, 107.10) 50%) }
  59% { background: linear-gradient(0deg, transparent 0, rgb(104.55, 104.55, 104.55) 50%) }
  60% { background: linear-gradient(0deg, transparent 0, rgb(102.00, 102.00, 102.00) 50%) }
  61% { background: linear-gradient(0deg, transparent 0, rgb(99.45, 99.45, 99.45) 50%) }
  62% { background: linear-gradient(0deg, transparent 0, rgb(96.90, 96.90, 96.90) 50%) }
  63% { background: linear-gradient(0deg, transparent 0, rgb(94.35, 94.35, 94.35) 50%) }
  64% { background: linear-gradient(0deg, transparent 0, rgb(91.80, 91.80, 91.80) 50%) }
  65% { background: linear-gradient(0deg, transparent 0, rgb(89.25, 89.25, 89.25) 50%) }
  66% { background: linear-gradient(0deg, transparent 0, rgb(86.70, 86.70, 86.70) 50%) }
  67% { background: linear-gradient(0deg, transparent 0, rgb(84.15, 84.15, 84.15) 50%) }
  68% { background: linear-gradient(0deg, transparent 0, rgb(81.60, 81.60, 81.60) 50%) }
  69% { background: linear-gradient(0deg, transparent 0, rgb(79.05, 79.05, 79.05) 50%) }
  70% { background: linear-gradient(0deg, transparent 0, rgb(76.50, 76.50, 76.50) 50%) }
  71% { background: linear-gradient(0deg, transparent 0, rgb(73.95, 73.95, 73.95) 50%) }
  72% { background: linear-gradient(0deg, transparent 0, rgb(71.40, 71.40, 71.40) 50%) }
  73% { background: linear-gradient(0deg, transparent 0, rgb(68.85, 68.85, 68.85) 50%) }
  74% { background: linear-gradient(0deg, transparent 0, rgb(66.30, 66.30, 66.30) 50%) }
  75% { background: linear-gradient(0deg, transparent 0, rgb(63.75, 63.75, 63.75) 50%) }
  76% { background: linear-gradient(0deg, transparent 0, rgb(61.20, 61.20, 61.20) 50%) }
  77% { background: linear-gradient(0deg, transparent 0, rgb(58.65, 58.65, 58.65) 50%) }
  78% { background: linear-gradient(0deg, transparent 0, rgb(56.10, 56.10, 56.10) 50%) }
  79% { background: linear-gradient(0deg, transparent 0, rgb(53.55, 53.55, 53.55) 50%) }
  80% { background: linear-gradient(0deg, transparent 0, rgb(51.00, 51.00, 51.00) 50%) }
  81% { background: linear-gradient(0deg, transparent 0, rgb(48.45, 48.45, 48.45) 50%) }
  82% { background: linear-gradient(0deg, transparent 0, rgb(45.90, 45.90, 45.90) 50%) }
  83% { background: linear-gradient(0deg, transparent 0, rgb(43.35, 43.35, 43.35) 50%) }
  84% { background: linear-gradient(0deg, transparent 0, rgb(40.80, 40.80, 40.80) 50%) }
  85% { background: linear-gradient(0deg, transparent 0, rgb(38.25, 38.25, 38.25) 50%) }
  86% { background: linear-gradient(0deg, transparent 0, rgb(35.70, 35.70, 35.70) 50%) }
  87% { background: linear-gradient(0deg, transparent 0, rgb(33.15, 33.15, 33.15) 50%) }
  88% { background: linear-gradient(0deg, transparent 0, rgb(30.60, 30.60, 30.60) 50%) }
  89% { background: linear-gradient(0deg, transparent 0, rgb(28.05, 28.05, 28.05) 50%) }
  90% { background: linear-gradient(0deg, transparent 0, rgb(25.50, 25.50, 25.50) 50%) }
  91% { background: linear-gradient(0deg, transparent 0, rgb(22.95, 22.95, 22.95) 50%) }
  92% { background: linear-gradient(0deg, transparent 0, rgb(20.40, 20.40, 20.40) 50%) }
  93% { background: linear-gradient(0deg, transparent 0, rgb(17.85, 17.85, 17.85) 50%) }
  94% { background: linear-gradient(0deg, transparent 0, rgb(15.30, 15.30, 15.30) 50%) }
  95% { background: linear-gradient(0deg, transparent 0, rgb(12.75, 12.75, 12.75) 50%) }
  96% { background: linear-gradient(0deg, transparent 0, rgb(10.20, 10.20, 10.20) 50%) }
  97% { background: linear-gradient(0deg, transparent 0, rgb(7.65, 7.65, 7.65) 50%) }
  98% { background: linear-gradient(0deg, transparent 0, rgb(5.10, 5.10, 5.10) 50%) }
  99% { background: linear-gradient(0deg, transparent 0, rgb(2.55, 2.55, 2.55) 50%) }
  100% { background: linear-gradient(0deg, transparent 0, rgb(0.00, 0.00, 0.00) 50%) }
}
*/
