@font-face {
  font-family: Wremena-Light;
  src: url("~assets/fonts/Wremena_Light.woff") format("woff");
}

@font-face {
  font-family: IDEOLOGY;
  src: url("~assets/fonts/ideology.woff") format("woff");
}

@font-face {
  font-family: IDEOLOGY-Expanded;
  src: url("~assets/fonts/IDEOLOGY-Expanded.woff") format("woff"),
    url("~assets/fonts/IDEOLOGY-Expanded.woff2") format("woff2");
}

@font-face {
  font-family: IDEOLOGY-RegularBold;
  src: url("~assets/fonts/IDEOLOGY-RegularBold.woff") format("woff"),
   url("~assets/fonts/IDEOLOGY-RegularBold.woff2") format("woff2");
}

@font-face {
  font-family: MoreOrLessGrotesque;
  src: url("~assets/fonts/MoreOrLessGrotesque-Less.woff") format("woff"),
    url("~assets/fonts/MoreOrLessGrotesque-Less.woff2") format("woff2");
}

