@font-face {
  font-family: Wremena-Light;
  src: url("../assets/fonts/Wremena_Light.woff") format("woff");
}

@font-face {
  font-family: IDEOLOGY;
  src: url("../assets/fonts/ideology.woff") format("woff");
}

