@import './utils.styl';

.text-quote
  font-family: IDEOLOGY, sans-serif
  font-size: pxToRem(48)
  line-height: (52 / 48)

.text-big
  font-family: IDEOLOGY, sans-serif
  font-size: pxToRem(30)
  line-height: (33 / 30)
  text-transform: uppercase
